@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --cor1: #182625 ;
    --cor2: #2F3D40;
    --cor3: #28403D;
    --cor4: #455559;
    --cor5: #3D5A73;
    --fonte1: 'Roboto Mono', monospace;
    --fonte2: 'Courier New', Courier, monospace;
}

*{
    margin: 0px;
    padding: 0px;
}

                                        /* HEADER */

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    padding-top: 50px;
}

header h1{
    font-size: 3em;
}

header p{
    margin-bottom: 50px;
    margin-top: 15px;
    font-size: 1.5em;
}

header nav{
    background-color: var(--cor1);
    font-weight: bold;
    text-align: left;
    padding: 8px;
}

header nav a{
    color: white;
    text-decoration: none;
    padding-left: 15px;
}

header nav a:hover{
    text-decoration: underline;
}

/* MAIN */

section{
    padding-top: 40vh;
    padding-bottom: 40vh;
    line-height: 2em;
    padding-left: 20px;
    font-family: var(--fonte1);
    font-size: 1.5vw;
}

section.center{
    background-image: url(../imagens/center.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section.right{
    background-image: url(../imagens/right.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section p{
    background-color: #3d5a7334;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
}

main h1{
    background-image:linear-gradient(to right, var(--cor1), var(--cor2));
    color: white;
    text-align: center;
    margin: 5px 0px 5px 0px;
    font-family: var(--fonte1);
}

/* FOOTER */

footer{
    background-color: var(--cor1);
    text-align: center;
    color: white;
    padding: 5px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
